path: D:\SquareEnix\FINAL FANTASY XIV - A Realm Reborn

raw_sheets:
- AozAction
- BannerCondition
- Cabinet
- CabinetCategory
- CharaMakeCustomize
- CraftLeve
- GCScripShopItem
- GilShopItem
- Glasses
- ItemAction
- Level
- Map
- MirageStoreSetItem
- OrchestrionPath
- OrchestrionUiparam
- PvPSeries
- Recipe
- SpecialShop
- TripleTriad
- VVDNotebookSeries

translated_sheets:
- Achievement
- AchievementCategory
- AchievementKind
- Action
- ActionTransient
- Addon
- AozActionTransient
- BannerBg
- BannerDecoration
- BannerFrame
- BuddyEquip
- CharaCardBase
- CharaCardDecoration
- CharaCardHeader
- Companion
- CompanionMove
- CompanionTransient
- ContentFinderCondition
- ContentType
- Emote
- EmoteCategory
- ENpcBase
- ENpcResident
- GlassesStyle
- Item
- Leve
- LeveAssignmentType
- MinionRace
- MinionSkillType
- MKDLore
- Mount
- MountTransient
- MYCWarResultNotebook
- Orchestrion
- OrchestrionCategory
- Ornament
- PlaceName
- Quest
- TextCommand
- Title
- TripleTriadCard
- TripleTriadCardResident
- TripleTriadCardType
- TripleTriadRule
- VVDNotebookContents
